RewriteEngine On

# ROUTES

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(?:css|js|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot)$ [NC]
RewriteRule ^(.*)$ index.php [L]